<div class='login-area'>
    <h2 class='register-heading'>Register</h2>
    <form (ngSubmit)="onRegisterSubmit()" #loginform="ngForm">
        <div>
            <p class='form-heading'>Username</p>
            <input type="text" name="username" ngModel>
            <p class='form-heading'>First name</p>
            <input type="text" name="firstname" ngModel>
            <p class='form-heading'>Last name</p>
            <input type="text" name="lastname" ngModel>
            <p class='form-heading'>Password</p>
            <input type="password" name="password1" ngModel>
            <p class='form-heading'>Confirm password</p>
            <input type="password" name="password2" ngModel>
        </div>
        <button style="margin-top: 20px;" type="submit">Register</button>
    </form>
</div>