.login-area {
    background-color: #fefbfd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 50px 200px 0px 200px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-heading {
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.register-heading {
    margin: 0px;
}