.new-task-area {
    margin: 10px 100px 0px 100px;
    padding: 20px;
}

.new-task-form {
    display: flex;
    flex-direction: column;
}

.new-task-form-item {
    margin: 10px 0px 0px 0px;
    width: 100%;
    padding: 0px;
}

.pond-card {
    width: 100%;
    border-radius: 10px !important;
    min-height: 100%;
    margin-bottom: 5px;
}

.new-task-form-section {
    margin-top: 20px;
}

.new-task-desc {
    resize: none;
}

.new-task-title {
    font-weight: bold;
}