<div class='new-task-area'>
    <mat-card class='task-card'>
        <mat-card-title>
            <h1>Create New Task</h1>
        </mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onNewTaskSubmit()" #newtaskform="ngForm">
                <div class='new-task-form'>
                    <p>{{selectedPond | json}}</p>
                    <mat-form-field appearance="fill">
                        <mat-label>Pond</mat-label>
                        <mat-select [formControl]="pondSelect" [(ngModel)]="selectedPond" (selectionChange)="loadPads()" [compareWith]="comparePonds">
                            <mat-option *ngFor="let pond of ponds" [value]="pond">{{pond.pond_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Pad</mat-label>
                        <mat-select [(ngModel)]="selectedPad">
                            <mat-option *ngFor="let pad of pads" [value]="pad.pad_id">{{pad.pad_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Task Title</mat-label>
                        <input type="text" matInput name="tasktitle" ngModel>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Task Description</mat-label>
                        <textarea type="text" matInput name="taskdesc" ngModel appTextareaAutoresize></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Assign Users</mat-label>
                        <mat-select [(ngModel)]='selectedUsers' multiple>
                            <mat-option *ngFor="let u of users" [value]="u">{{u.full_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-button type="submit" class='new-task-form-section'>Create Task</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<app-messages></app-messages>