.new-task-area {
    background-color: #fefbfd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 10px 100px 0px 100px;
    padding: 20px;
    border-radius: 10px;
}

.new-task-form {
    display: flex;
    flex-direction: column;
}

.new-task-form-item {
    margin-top: 10px;
    margin-right: auto;
}