<div class='pond-container'>
    <mat-card class='pond-card'>
        <mat-card-title>
            <h1 class='pond-list-title'>Your assigned ponds</h1>
        </mat-card-title>

        <mat-card-content>
            <mat-action-list class='sidenav-list' *ngFor="let pond of ponds">
                <button mat-list-item class='sidenav-item' [routerLink]="'/pond/' + pond.pond_id">
                    {{pond.pond_name}}
                </button>
            </mat-action-list>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button [routerLink]="'/add/pond'">Add Pond</button>
        </mat-card-actions>
    </mat-card>
</div>