.user-comment-area {
    /* Style these so that they look distinct and not like a repeat of the task details above */
    display: flex;
    flex-direction: column;
    margin: 10px 120px 0px 120px;
    background-color: #e9d7de;
    color: #555555;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
    border-radius: 10px;
}

.user-comment-area p {
    margin: 0px;
}

.other-user-comment-area {
    display: flex;
    flex-direction: column;
    margin: 10px 120px 0px 120px;
    background-color: #e9dbd7;
    color: #555555;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
    border-radius: 10px;
}

.other-user-comment-area p {
    margin: 0px;
}

/* TODO: Add padding to comment area so that the input area doesn't overlap the comments */

.comment-text {
    padding-top: 5px;
    white-space: pre-wrap;
}

.comment-input-area {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.comment-element-parent {
    display: flex;
    flex-direction: row;
    padding: 10px 120px 20px 120px;
}

.comment-input {
    flex: 1;
    resize: none;
}

.comment-submit {
    float: right;
}

.comment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-left {
    margin-left: auto;
}

.blur{
    position: absolute;
    /* 
        We'll grow the blur box to be bigger than 100% so 
        there isn't some weird effects that you can get with blur 
    */
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    /* Any browser which supports CSS3 */
    backdrop-filter: blur(3px);
    z-index: 0;
}

.popup {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #e9d7de;
    top: 50%;
    left: 50%;
    margin: -100px 0px 0px -150px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-text {
    padding: 40px 20px 10px 20px;
    text-align: justify;
}

.popup-button {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}

.popup-header {
    width: 100%;
    height: 50px;
    background-color: #711448;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.popup-title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 1.5px black;
    margin: 0px;
}