<div class="login-card">
    <mat-card>
        <mat-card-title style="text-align: center;">
            Login
        </mat-card-title>
        <form (ngSubmit)="onLoginSubmit()" #loginform="ngForm">
            <mat-card-content class="login-form">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput name="username" ngModel>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password" ngModel>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button type="button" [routerLink]="['/register']">Create an Account</button>
                <button mat-button type="submit">Login</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>