.login-area {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-card {
    /*margin: 50px 200px 0px 200px;*/
    width: 400px;
    height: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-card-title {
    padding-top: 16px !important;
}

.mat-card-content {
    margin-bottom: 0px !important;
}

.mat-card-actions {
    margin-bottom: 0px !important;
}

.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
}