.container {
    padding: 5px 30px 0px 30px;
}

.load-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-container {
    height: 100%;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pad_complete {
    margin: 0px;
}

.review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.review-title {
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.review-buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.review-text {
    white-space: pre-wrap;
}

.date-container {
    display: flex;
    flex-direction: row;
}