<div class='pad-container'>
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let padData of padTasks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{padData.pad.pad_name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='task-container' *ngFor="let task of padData.tasks">
                <div class='task-details'>
                    <p class='task-text'>
                        <a class='task-title' [routerLink]="['/task', task.task_id]">
                            {{task.task_title}}
                        </a>
                    </p>
                    <p class='task-text'>assigned to: {{task.usernames}}</p>
                </div>
                <p class='task-status'>
                    {{task.status_text}}
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>