<div class='pad-container'>
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let padData of padTasks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{padData.pad.pad_name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container" *ngFor="let task of padData.tasks">
                <task-detail [task]="task"></task-detail>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>