.task-container {
    background-color: #fefbfd;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /*outline: 2px solid black;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.task-text {
    margin: 0px;
    padding-left: 10px;
}

.task-title {
    margin: 0px;
}

.task-status {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.task-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}

.pad-container {
    height: 100%;
}