.container {
    padding: 5px 30px 0px 30px;
}

.pad-container {
    height: 100%;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pad_complete {
    margin: 0px;
}