<!-- <mat-drawer-container autosize>
    

    <mat-drawer #drawer class='sidenav-window' mode='side'>
    </mat-drawer>
</mat-drawer-container> -->

<div class='navbar'>
    <button mat-icon-button class='navlink'>
        <mat-icon (click)='toggleSideNav()'>menu</mat-icon>
    </button>
    <h1 class='logo'>toady</h1>

    <button mat-icon-button class='navlink' routerLink='/home'>
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class='navlink' routerLink='/login'>
        <mat-icon>login</mat-icon>
    </button>

    <button mat-icon-button class='navlink left-navlink' routerLink='/add'>
        <mat-icon>add</mat-icon>
    </button>
</div>