.navbar {
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #711448;
}

.logo {
    border: 0px;
    margin: 0px 0px 0px 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 1.5px black;
}

.navlink {
    margin: 0px 0px 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 0.5px black;
}

.left-navlink {
    margin-left: auto;
    margin-right: 20px;
}

