.task-area {
    background-color: #fefbfd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 10px 100px 0px 100px;
    padding: 20px;
    border-radius: 10px;
}

.task-header {
    margin: 0px;
}

.task-desc {
    margin: 10px 0px 0px 0px;
}

.comment-area {
    /* Style these so that they look distinct and not like a repeat of the task details above */
    display: flex;
    flex-direction: column;
    margin: 10px 100px 0px 100px;
    background-color: #fefbfd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    border-radius: 10px;
}

.comment-area p {
    margin: 0px;
}

/*
.comment-name {

}

.comment-text {

}

.comment-date {

}*/