<div class='task-area'>
    <form [formGroup]="reactiveForm" class='assign-users-form'>
        <mat-form-field class='assign-users-field'>
            <mat-label>Assigned Users</mat-label>
    
            <mat-select formControlName="assignedUsersControl" multiple [compareWith]="compareFn">
                <mat-select-trigger>
                    <mat-chip-list class='mat-chip-list user-chip-list' aria-orientation="horizontal">
                        <mat-chip *ngFor='let user of reactiveForm.get("assignedUsersControl")!.value'>
                            {{ user.full_name }}
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let user of assignableUsers" [value]="user">{{ user.full_name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <!-- <p>Value 1: {{ reactiveForm.get("assignedUsersControl")!.value | json }}</p>
    <p>Value 2: {{ reactiveForm.get("assignedUsersControl")!.value.value | json }}</p> -->

    <div class='task-header'>
        <h1 class='task-title'>{{taskDetails?.task_id}}: {{taskDetails?.task_title}}</h1>
        <select class='status-select' [(ngModel)]="selectedStatus.status_id">
            <option *ngFor="let status of taskStatuses" [ngValue]="status.status_id">
                {{status.status_text}}
            </option>
        </select>
    </div>

    <p class='task-desc'>{{taskDetails?.task_desc}}</p> 
</div>
<app-comments
    [taskId]="taskId"></app-comments>
<app-messages></app-messages>