.pond-area {
    background-color: #fefbfd;
    margin: 10px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
}

.assign-users-form {
    width: 100%;
}

.user-chip-list {
    display: flex;
    flex-direction: row;
}

.assign-users-field {
    width: 100%;
}

.pond-card {
    width: 100%;
    border-radius: 10px !important;
    min-height: 100%;
    margin-bottom: 5px;
}

.pads-div {
    display: flex;
    flex-direction: row;
}

.pad-div {
    width: 60%;
}

.cont-task-div {
    width: 40%;
}

.task-container {
    background-color: #fefbfd;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /*outline: 2px solid black;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.task-text {
    margin: 0px;
    padding-left: 10px;
}

.task-title {
    margin: 0px;
}

.task-status {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.task-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}