.pond-area {
    background-color: #fefbfd;
    margin: 10px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.assign-users-form {
    width: 100%;
}

.user-chip-list {
    display: flex;
    flex-direction: row;
}

.assign-users-field {
    width: 100%;
}

.pond-card {
    width: 100%;
    border-radius: 10px !important;
}