<div class="pond-area">
    <mat-card class='pond-card'>
        <mat-card-title>{{pondId}}: {{pond.pond_name}}</mat-card-title>
        <mat-card-subtitle>Created by {{pond.created_by}}</mat-card-subtitle>

        <mat-card-content>
            <mat-tab-group #matTab mat-align-tabs="center">
                <mat-tab label="Pads">
                    <app-pad #pad [pondId]="pondId" [accountLevel]="pond.account_type_level"></app-pad>
                </mat-tab>
                <mat-tab label="Continuous Tasks">
                    <div class=".container" *ngFor="let task of continuousTasks">
                        <task-detail [task]="task"></task-detail>
                    </div>
                </mat-tab>
                <mat-tab label="Assigned Users">
                    <form [formGroup]="reactiveForm" class='assign-users-form'>
                        <mat-form-field class='assign-users-field'>
                            <mat-select formControlName="assignedUsersControl" multiple [compareWith]="compareFn">
                                <mat-select-trigger>
                                    <mat-chip-list class='mat-chip-list user-chip-list' aria-orientation="horizontal">
                                        <mat-chip *ngFor='let user of reactiveForm.get("assignedUsersControl")!.value'>
                                            {{ user.full_name }}
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-select-trigger>
                                <mat-option *ngFor="let user of assignableUsers" [value]="user">{{ user.full_name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button [routerLink]="['/add']" [queryParams]="{pond_id: pondId}">Add Task</button>
            <button mat-button (click)="openPadUpdateDialog()">Add Pad</button>
        </mat-card-actions>
    </mat-card>
</div>