.pond-area {
    background-color: #fefbfd;
    margin: 10px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.assign-users-form {
    width: 100%;
}

.user-chip-list {
    display: flex;
    flex-direction: row;
}

.assign-users-field {
    width: 100%;
}

.pond-card {
    width: 100%;
    border-radius: 10px !important;
    min-height: 100%;
    margin-bottom: 5px;
}

.pads-div {
    display: flex;
    flex-direction: row;
}

.pad-div {
    width: 60%;
}

.cont-task-div {
    width: 40%;
}

.container {
    padding: 5px 50px 0px 50px;
}