<mat-sidenav-container autosize class='app-content'>
    <mat-sidenav #sidenav class='sidenav' mode='side'>
        <div class='sidenav-header'>
            <h1 class='sidenav-title'>Menu</h1>
        </div>
        <mat-action-list class='sidenav-list'>
            <button mat-list-item class='sidenav-item'> Reports </button>
            <button mat-list-item class='sidenav-item' (click)='logout()'> Logout </button>
            <button mat-list-item class='sidenav-item' routerLink="pondlist"> Ponds </button>
        </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-bar></app-nav-bar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>