html, body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.app-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    background-color: #711448;
    width: 200px;
    border-right: 1px solid black;
}

.sidenav-header {
    height: 60px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.sidenav-title {
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
    font-size: 30px;
    height: 30px;
    border: 0px;
    padding: 17px 0px 0px 16px;
    margin: 0;
    font-weight: bold;
}

.sidenav-list {
    padding: 0px;
}

.sidenav-item {
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
    height: 35px !important;
}